@using AgreementManagement.Web.Models.Home
@model AgreementManagerModel 
@{
    ViewData["Title"] = "Manager";
}

<div class="container-fluid bg-white-transparent p-3">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark active" data-toggle="collapse" href="#agreementCard"><i class='far fa-file-alt'></i> Agreements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" data-toggle="collapse" href="#productsCard">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" data-toggle="collapse" href="#productGroupsCard">Product Groups</a>
        </li>
    </ul>

    <div id="accordion">
        <div class="card">
            <div id="agreementCard" class="collapse show" data-parent="#accordion">
                <div class="card-header">
                    <p class="h2 mb-3">Manager <span class="small text-muted">| Agreements</span></p>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#NewAgreementModal"><i class='far fa-plus-square'></i> New Agreement</button>
                </div>
                <div class="card-body table-responsive">

                    <table id="agreementTable" class="nowrap table table-sm table-striped table-bordered bg-light">
                        @*<table id="agreementTable" class="display responsive nowrap bg-light" style="width: 100%">*@
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Product Group Code</th>
                                <th>Product Number</th>
                                <th>Effective Date</th>
                                <th>Expiration Date</th>
                                <th>Product Price</th>
                                <th>New Price</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Username</th>
                                <th>Product Group Code</th>
                                <th>Product Number</th>
                                <th>Effective Date</th>
                                <th>Expiration Date</th>
                                <th>Product Price</th>
                                <th>New Price</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div id="productsCard" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum..
                </div>
            </div>

            <div id="productGroupsCard" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum..
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="NewAgreementModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <p class="modal-title h6">New Agreement</p>
            </div>

            <div class="modal-body">
                <form id="NewAgreementModalForm" method="post">

                    <div class="row">
                        <div class="col border-right">
                            <div class="form-group">
                                <label for="productGroup">Group:</label>
                                <select class="form-control form-control-sm" id="productGroup" name="ProductGroupId">
                                    <option value=""> </option>
                                    @foreach (var group in Model.ProductGroupList)
                                    {
                                        <option value="@group.Id">@group.GroupDescription</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="product">Product:</label>
                                <select class="form-control form-control-sm" id="product" name="ProductId">
                                    <option value=""> </option>
                                    @foreach (var product in Model.ProductList)
                                    {
                                        <option value="@product.Id">@product.ProductDescription</option>
                                    }
                                </select>
                            </div>

                            <label for="newPrice">New Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='fas fa-dollar-sign'></i></span>
                                </div>
                                <input type="number" class="form-control form-control-sm w-50" id="newPrice" name="NewPrice" value="0">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="effectiveDate">Effective Date:</label>
                                <input type="date" class="form-control form-control-sm" id="effectiveDate" name="EffectiveDate">
                            </div>
                            <div class="form-group">
                                <label for="expirationDate">Expiration Date:</label>
                                <input type="date" class="form-control form-control-sm" id="expirationDate" name="ExpirationDate">
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="activeCheckBox" name="Active">
                                <label class="custom-control-label" for="activeCheckBox">Active</label>
                            </div>
                        </div>
                    </div>

                    <div class="float-right">
                        <button class="btn btn-sm btn-primary" id="NewAgreementSaveBtn">Save</button>
                        <div class="btn-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-light text-dark dropdown-toggle" data-toggle="dropdown">
                                    Close
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item small" data-dismiss="modal" href="#" id="NewAgreementModalCloseBtn"><i class='far fa-trash-alt'></i> Discard</a>
                                    <a class="dropdown-item small" data-dismiss="modal" href="#">Keep Inputs</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="UserName" value="@User.Identity.Name" />
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function () {

        $('#agreementTable').DataTable({
            ajax: {
                'url': '/Home/AgreementTable',
                'type': 'GET',
                'datatype': 'json'
            },
            columns: [
                { 'data': 'userName' },
                { 'data': 'productGroupCode' },
                { 'data': 'productNumber' },
                { 'data': 'effectiveDate', 'searchable': false },
                { 'data': 'expirationDate', 'searchable': false },
                { 'data': 'productPrice', 'searchable': false },
                { 'data': 'newPrice', 'searchable': false }
            ],
            responsive: true
        });

        $("#NewAgreementModalCloseBtn").click(function () {
            $(':input', '#NewAgreementModalForm')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');
        });

        $("#NewAgreementSaveBtn").click(function (e) {
            e.preventDefault();
            var formData = $("#NewAgreementModalForm").serialize();
            var url = "@Url.Action("AddAgreement")";
            $.post(url, formData)
                .done(function (data) {
                    $('#NewAgreementModal').modal('toggle');
                    location.reload();
                });
        });

        @*$.get("@Url.Action("Agreement")")
            .done(function (data) {
                alert("Data Loaded: " + data);
            });*@
    });
    </script>
}
